/*header css*/
.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 0;
  margin: 0;
  background-color: skyblue;
}

/* Footer css*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  text-align: center;
  height: 30px;
}

/*Registration CSS*/
.inputTxt {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
  border-radius: 7px;
}

.containerRegister {
  margin-left: 30%;
}

.button {
  background-color: skyblue;
  margin: 20px;
  width: 150px;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

/* Login*/
.login {
  margin-left: 30%;
  margin-top: 100px;
}

/*Add Product */
.invalid {
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

/*display product*/
.product {
  text-align: center;
  margin-top: 50px;
}

.product ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product ul {
  margin: 0px;
}

/*search text box*/
.searchTextBox{
  width: 250px;
  margin-bottom: 15px;
  height: 30px;
  border-width: 1px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
}